
<section id="projects" class="my-5">
    <div class="container">
        <h2>Projects</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/images/project1.jpg" class="card-img-top" alt="Project 1" />
                    <div class="card-body">
                        <h5 class="card-title">Loan Calculator Program</h5>
                        <p>@ViewData["Project1"]</p>
                        <p>@ViewData["Tech1"]</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/images/project2.jpg" class="card-img-top" alt="Project 2" />
                    <div class="card-body">
                        <h5 class="card-title">The "MediQuick" Clinic Check-In Crisis</h5>
                        <p>@ViewData["Project2"]</p>
                        <<p>@ViewData["Tech2"]</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/images/project3.jpg" class="card-img-top" alt="Project 3" />
                    <div class="card-body">
                        <h5 class="card-title">Portfolio Website</h5>
                        <p>@ViewData["Project3"]</p>
                        <<p>@ViewData["Tech3"]</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>